* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: url("../rena-cruz.github.io/images/bg.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;    
}

.title {
    font-size: 36px;
    font-weight: normal;
}

.box {
    background: #eee;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16);
    border-radius: 50px;
    text-align: center;    
}

.profile {
    border-radius: 50%;
    margin-bottom: 2rem;
}
.rede-sociais {
    display: flex;
    justify-content: center;
}

.rede-sociais li {
    margin-right: 1rem;
}